/* Style the frame */
.frame {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    margin: 0 auto;
}

/* Style the image */
.frame img {
    max-width: 100%;
    max-height: 100%;
}

/* Style the quote */
.frame p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    /* Set the default line height */
}

/* Increase the line height for longer text */
.frame p.long {
    line-height: 1.5;
}

/* Decrease the line height for shorter text */
.frame p.short {
    line-height: 1;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploadForm {
    margin-top: 10px;
}